# Elixir CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-elixir/ for more details
version: 2
jobs:
  build:
    working_directory: ~/multi_tenancex
    docker:
      - image: circleci/elixir:1.6.5
      - image: postgres:9.5
        environment:
          POSTGRES_USER: ubuntu
    steps:
      - checkout
      - run: mix local.rebar --force
      - run: mix local.hex --force
      - run: mix deps.get
      - run: mix ecto.create
      - run: mix test
