<footer class="fixed-bottom">
  <div class="container">
    <p class="m-0 text-center text-white">
      Made with <i class="fa fa-heart"></i> by <%= link "dreamingechoes", to: "http://dreamingecho.es" %>
    </p>
  </div>
</footer>
