<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= gettext("MultiTenancex Admin") %></title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
  </head>

  <body>
    <div id="wrapper">
      <%= render "_navigation.html", assigns %>
      <div id="page-wrapper">
        <%= render "_flash_messages.html", assigns %>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
    <script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
  </body>
</html>
